article{
    font-size: large;
    margin-top: 4%;
}

body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}